body{
    background-color: grey;
}
.container{
    display: flex;
}
.grid{
    width: 12.5rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(157, 254, 152);
}
.grid div {
    height: 1.25rem;
    width: 1.25rem;
    
}
.tetromino{
    background-color:rgb(43, 43, 43);
}
.mini-grid {
    margin-left: 3.125rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(157, 254, 152);
}
.mini-grid div{
height: 1.25rem;
width: 1.25rem;
}